name: Continuous Integration
on:
    push:
        branches:
          - main
    pull_request:
        types: 
          - opened
          - reopened
          - synchronize
          - ready_for_review
        branches:
          - main

permissions:
    contents: read
    pages: write
    id-token: write

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        env:
          XDG_CACHE_HOME: /home/runner/.cache
        steps:
          - name: Checkout
            uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        
          - name: Pull and Update EIPs Submodule
            run: git submodule update --init --recursive

          - name: Use Node.js
            uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
            with:
                node-version: 22.x

          - name: Cache node_modules
            id: cache-npm-packages
            uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
            env:
              cache-name: cache-node_modules
            with:
              path: node_modules
              key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }}

          - name: Install Dependencies
            if: ${{ steps.cache-npm-packages.outputs.cache-hit != 'true' }}
            run: npm ci

          - name: Cache cache directory
            id: cache-xdg-cache
            uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
            env:
              cache-name: cache-xdg-cache
            with:
              path: ${{ env.XDG_CACHE_HOME }}
              key: xdg-cache-${{ env.cache-name }}-v1

          - name: Build
            run: npm run build

          - name: Setup Pages
            if: github.ref == 'refs/heads/main' && github.event_name == 'push'
            uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0

          - name: Upload artifact
            uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
            with:
                path: '.vitepress/dist'

          - name: Deploy to GitHub Pages
            id: deployment
            if: github.ref == 'refs/heads/main' && github.event_name == 'push'
            uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
